<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Agillsas | {% block title %} {% endblock %} </title>

    <!-- Estilos y fuentes del template  -->
    {% load static %}
    <link rel="shortcut icon" href="{% static 'core/img/logos/iconoAgillSas.png' %}" />
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type='text/css'>
    <link href="{% static 'core/vendor/font-awesome/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/font-awesome/css/all.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body style="background-color: c3c3c3;">
<!-- Encabezado -->
	<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ff8000;">
		<a class="navbar-brand" href="{% url 'inicio' %}"><img src="{% static 'core/img/logos/logoAgillSas.png' %}" alt="Inicio | Agillsas" class="img-thumbnail" height="92" width="100"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		</div>
			<div class="float-right">
				<a class="btn btn-primary btn-sm" href="{% url 'inicio' %}" data-toggle="tooltip" data-placement="top" title="Mis Alertas"><i class="fas fa-bell"></i> {% block alerts %} {% endblock %}</a>
				<a class="btn btn-light btn-sm" href="{% url 'inicio' %}" data-toggle="tooltip" data-placement="top" title="Configurar"><i class="fas fa-user"></i></a>
				{% if not request.user.is_authenticated %}
					<a class="btn btn-success btn-sm text-white" href="{% url 'login' %}" data-toggle="tooltip" data-placement="top" title="Iniciar Sesion"><i class="fas fa-sign-in-alt"></i></a>
				{% else %}
					<a class="btn btn-danger btn-sm text-white" href="{% url 'logout' %}" data-toggle="tooltip" data-placement="top" title="Cerrar Sesion"><i class="fas fa-sign-out-alt"></i></a>
				{% endif %}
 			</div>
	</nav>
<div class="container-fluid">
	<div class="row">
		<!-- Menu lateral  -->
		<div class="col-2" style="margin-top: 5px; ">
				<div class="btn-group-vertical btn-group-sm" role="group" aria-label="Button group with nested dropdown">
					<a href="/admin/" class="btn btn-info text-left"><i class="fab fa-whmcs"></i> | Admin </a>
					<a class="btn btn-dark text-left" href="{% url 'inicio' %}"><i class="fas fa-home"></i> | Inicio </a>
					<div class="btn-group btn-group-sm" role="group">
						<button id="btnGroupComponente" type="button" class="btn btn-dark dropdown-toggle text-left" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false"> <i class="fas fa-cubes"></i> | Componentes</button>
						<div class="dropdown-menu" aria-labelledby="btnGroupComponente">
							<a class="dropdown-item" href="{% url 'componente_create' %}"><i class="fas fa-plus-square "></i> | Crear</a>
							<a class="dropdown-item" href="{% url 'componente_list' %}"><i class="fas fa-list"></i> | Ver</a>
						</div>
					</div>
					<div class="btn-group btn-group-sm" role="group">
						<button id="btnGroupAeronave" type="button" class="btn btn-dark dropdown-toggle text-left" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false"> <i class="fas fa-plane"></i> | Aeronaves</button>
						<div class="dropdown-menu" aria-labelledby="btnGroupAeronave">
							<a class="dropdown-item" href="{% url 'aeronave_create' %}""><i class="fas fa-plus-square"></i> | Crear</a>
							<a class="dropdown-item" href="{% url 'aeronave_list' %}"><i class="fas fa-list"></i> | Ver</a>
						</div>
					</div>
					<div class="btn-group btn-group-sm" role="group">
						<button id="btnGroupVuelo" type="button" class="btn btn-dark dropdown-toggle text-left" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false"> <i class="fas fa-plane-departure"></i> | Vuelos</button>
						<div class="dropdown-menu" aria-labelledby="btnGroupVuelo">
							<a class="dropdown-item" href="{% url 'vuelo_create' %}"><i class="fas fa-plus-square"></i> | Crear</a>
							<a class="dropdown-item" href="{% url 'vuelo_list' %}"><i class="fas fa-list"></i> | Ver</a>
						</div>
					</div>
					<div class="btn-group btn-group-sm" role="group">
						<button id="btnGroupOrdenTrabajo" type="button" class="btn btn-dark dropdown-toggle text-left" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false"> <i class="fas fa-toolbox"></i> | Ordenes de trabajo</button>
						<div class="dropdown-menu" aria-labelledby="btnGroupOrdenTrabajo">
							<a class="dropdown-item" href="{% url 'orden_create' %}"><i class="fas fa-plus-square"></i> | Crear</a>
							<a class="dropdown-item" href="{% url 'orden_list' %}"><i class="fas fa-list"></i> | Ver</a>
						</div>
					</div>
					<div class="btn-group btn-group-sm" role="group">
						<button id="btnGroupCumplimiento" type="button" class="btn btn-dark dropdown-toggle text-left disabled" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false"> <i class="fas fa-clipboard-list"></i> | Cumplimientos</button>
						<div class="dropdown-menu" aria-labelledby="btnGroupCumplimiento">
							<a class="dropdown-item" href="#"><i class="fas fa-plus-square"></i> | Crear</a>
							<a class="dropdown-item" href="#"><i class="fas fa-list"></i> | Ver</a>
						</div>
					</div>

				</div>

		</div>
		<!-- Contenido -->
		<div class="col-10 border border-info border-top-0 border-bottom-0 border-right-0" style="margin-top: 5px;">
			{% block content %}
				
			{% endblock %}
		</div>
	</div>	
</div>
    <!-- Bootstrap y Javascripts -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<!-- CKEditor -->
	{% load static %}
	<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
	<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>	


    <script>
    	// Tooltips
		$(function () {
  			$('[data-toggle="tooltip"]').tooltip()
  		})
    </script>
</body>
</html>