{% extends 'core/plantilla/base.html' %}
{% load static %}

{% block title %} Inicio {% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="container">
    <p class="lead">
    <h5 class="display-5">COMPAÑÍA AEROAGRICOLA DE LOS LLANOS</h5>
	Empresa líder en el mercado de la Aviación Agrícola, su técnica en la aplicación Aérea ha permitido un desarrollo en los Llanos Orientales aportando al crecimiento del Sector Agrícola, contando con el personal altamente calificado para el desarrollo de su actividad.
	</p>
  </div>
</div>


{% endblock %}
