{% extends 'core/plantilla/base.html' %}
{% block title %} Aeronave - {{ aeronave.placa }} - {{ aeronave.nombre }} detalle {% endblock %}
{% block content %}

{% if 'ok' in request.GET %}
<div class="row">
	<div class="container-fluid">
		<div class="alert alert-success alert-dismissible text-center fade show" role="alert">
			<span class="font-italic">Aeronave </span><span class="font-weight-bold"> {{ aeronave.placa }} - {{ aeronave.modelo }} </span><span class="font-italic">editado correctamente !!</span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
</div>
{% endif %}

<div class="card border-success mb-3">
	<div class="card-header">
		<div class="row">
			<div class="col-sm">
				<i class="fas fa-plane"></i><span> | Detalles de la aeronave: <strong>{{ aeronave.placa }} - {{ aeronave.modelo }}</strong></span>
			</div>
			<div class="col-sm text-right">
				<a class="btn btn-outline-danger btn-sm" href="{% url 'aeronave_pdf_detail' aeronave.id %}" target="_blank" data-toggle="tooltip" data-placement="top" title="PDF detalle de la aeronave"><small><i class="far fa-file-pdf"></i> Pdf</small></a>
				<a class="btn btn-outline-info btn-sm" href="{% url 'aeronave_list' %}" data-toggle="tooltip" data-placement="top" title="Ver aeronaves"><small><i class="fas fa-list"></i> Ver</small></a>
			</div>
		</div>	
	</div>
	<div class="card-body">
		<table class="table table-striped table-hover table-sm">
		<caption>Detalles de la aeronave</caption>
			<tbody>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Matricula:</th>
					<td>{{ aeronave.placa }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Marca:</th>
					<td>{{ aeronave.marca }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Modelo:</th>
					<td>{{ aeronave.modelo }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Tipo:</th>
					<td>{{ aeronave.tipo }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Descripcion:</th>
					<td>{{ aeronave.descripcion }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Imagen:</th>
					<td>{{ aeronave.imagen }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Horas de uso:</th>
					<td>{{ aeronave.hVuelo }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Componentes:</th>
					<td>
					{% for componente in aeronave.componente.all %}
						<span {% if componente.alerta == "Si" or componente.alertaFecha == "Si" %} class="bg-danger text-white" {% endif %}> {{ componente.numSerie }} - {{ componente.nombre }}</span>{% if not forloop.last %}, {% endif %}
					{% endfor %}
					</td>
				</tr>
					<th scope="row" class="bg-info text-white text-right">Fecha creacion sistema:</th>
					<td>{{ aeronave.creado }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Fecha actualizacion sistema:</th>
					<td>{{ aeronave.actualizado }}</td>
				</tr>				
			</tbody>
		</table>
	</div>
	<div class="card-footer">
		<a class="btn btn-outline-primary btn-sm" href="{% url 'aeronave_update' aeronave.id %}" data-toggle="tooltip" data-placement="top" title="Editar aeronave">Editar</a>
		<a class="btn btn-outline-danger btn-sm" href="{% url 'aeronave_delete' aeronave.id %}" data-toggle="tooltip" data-placement="top" title="Borrar aeronave">Borrar</a>
	</div>
</div>
{% endblock %}