{% extends 'core/plantilla/base.html' %}
{% block title %} Vuelo editar {% endblock %}
{% block alerts %} {% endblock %}
{% block content %}

<div class="card border-success mb-3">
	<div class="card-header">
		<div class="row">
			<div class="col-sm">
				<i class="fas fa-plane"></i><span> | Aeronave editar</span>
			</div>
			<div class="col-sm text-right">
				<a class="btn btn-outline-info btn-sm" href="{% url 'aeronave_list' %}" data-toggle="tooltip" data-placement="top" title="Ver aeronaves"><small><i class="fas fa-list"></i> Ver</small></a>
			</div>
		</div>
	</div>
	<form action="" method="POST" id="form_data">{% csrf_token %}
		<div class="card-body">
			<div class="form-row">
				<div class="col-sm">
					<strong>{{ form.placa.label }}</strong>				
					{{ form.placa }}				
				</div>
				<div class="col-sm">
					<strong>{{ form.marca.label }}</strong>
					{{ form.marca }}				
				</div>
				<div class="col-sm">
					<strong>{{ form.modelo.label }}</strong>				
					{{ form.modelo }}				
				</div>
			</div>
			</br>
			<div class="form-row">
				<div class="col-sm">
					<strong>{{ form.descripcion.label }}</strong>			
					{{ form.descripcion }}
				</div>
				<div class="col-sm">
					<strong>{{ form.tipo.label }}</strong>				
					{{ form.tipo }}	
					</br>			
					<strong>{{ form.hVuelo.label }}</strong>				
					{{ form.hVuelo }}				
				</div>
				<div class="col-sm">
					<strong>{{ form.componente.label }}</strong>
					{{ form.componente }}
				</div>
			</div>
			</br>
			<div class="form-row">				
				<div class="col-sm">
					<div class="card border-light mb-3">
						<div class="card-header">Orden de seleccion del componente</div>
						<div class="card-body">
							<p class="card-text">
								<ul class="list-inline" style="font-size: 0.8em;">
									{% for componente in aeronave.getComponenteOrdenado %}
									<li class="list-inline-item">
										<i class="fas fa-cubes"></i> {{ componente.componente.numSerie }} - {{ componente.componente.nombre }}
									</li>
									{% endfor %}
								</ul>
							</p>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="btn-group">
				<input id="submit_form"	type="submit" class="btn btn-outline-success btn-sm" value="Guardar">
				</form>
			</div>
		</div>
	</form>
</div>
<script>
	$(document).ready(function(){
		$('#id_componente_chosen').find(".chosen-choices").find(".search-choice").each(function(){
			$(this).remove();
		});
		var valuesD =[]
		$("#id_componente").find("option").each(function(index){
			valuesD.push($(this).attr("value"))
		});	
		var htmlItems =[]; 
		{% for componente in aeronave.getComponenteOrdenado %}
			htmlItems.push('<li class="search-choice"><span>{{ componente.componente.numSerie }} - {{ componente.componente.nombre }}</span><a class="search-choice-close delete_search" data-option-array-index="'+valuesD.indexOf("{{ componente.componente.pk }}")+'"></a></li>');
									
		{% endfor %}

		for (var i = htmlItems.length - 1; i >= 0; i--) {
			
			$('#id_componente_chosen').find(".chosen-choices").prepend(htmlItems[i]);
		}
		$(document).on("click",".delete_search",function(){
			$(this).parent().remove()
		})
	})

	function getValues(){
	var indexed = [];
	$('#id_componente_chosen').find(".chosen-choices").find(".search-choice").each(function(){
		indexed.push($(this).find(".search-choice-close").attr("data-option-array-index"));

	}); 
	
	var values = [];
	for (var i = 0; i < indexed.length; i++) {
		$("#id_componente").find("option").each(function(index){
			if( index == parseInt(indexed[i])){
				values.push($(this).attr("value"))
			}
		});
	}
	return values
}

$("#submit_form").click(function(event){
	event.preventDefault()
	var values = getValues()
	var html = ""
	for (var i = 0; i < values.length; i++) {
		html+= "<option value='"+values[i]+"' selected='selected'> </option>"
	}
	$("#id_componente").html(html);
	$("#form_data").submit()
});
</script>

{% endblock %}