{% extends 'core/plantilla/base.html' %}
{% block title %} Aeronaves {% endblock %}
{% block content %}
<div class="card border-info mb-3">
	<div class="card-header">
		<div class="row">
			<div class="col-sm">
				<i class="fas fa-plane"></i><span> | Aeronaves</span>
			</div>
			<div class="col-sm">
				<div class="float-right">
					<a class="btn btn-outline-danger btn-sm" target="_blank" href="{% url 'aeronave_pdf_list' %}" data-toggle="tooltip" data-placement="top" title="Pdf lista de aeronaves"><small><i class="far fa-file-pdf"></i> Pdf</small></a>
					<a class="btn btn-outline-success btn-sm" href="{% url 'aeronave_create' %}" data-toggle="tooltip" data-placement="top" title="Crear aeronave"><small><i class="fas fa-plus-square"></i> Crear</small></a>
					<!-- <a class="btn btn-info btn-sm" href="{% url 'aeronave_reporteExcel' %}" data-toggle="tooltip" data-placement="top" title="Desacargar excel de aeronaves"><i class="far fa-file-excel"></i></a> -->
					<!-- <a class="btn btn-info float-right" href="{% url 'aeronave_downExcel' %}" data-toggle="tooltip" data-placement="top" title="Desacargar Excel de aeronaves"><i class="far fa-file-excel"></i></a> -->
				</div>
			</div>
		</div>
	</div>	
	<div class="card-body ">
		<table  id="DataTable" class="compact table table-striped table-bordered table-hover">
			<caption>Lista de aeronaves</caption>
			<thead>
				<tr>
					<th scope="col">Matricula</th>
					<th scope="col">Marca</th>
					<th scope="col">Modelo</th>
					<th scope="col">Componentes</th>
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			<tbody>
				{% for aeronave in aeronave_list %}
				<tr>
					<td>{{ aeronave.placa }}</td>
					<td>{{ aeronave.marca }}</td>
					<td>{{ aeronave.modelo }}</td>
					<td>
						<div class="list-group">
							<button id="listaComponente{{ aeronave.id }}" class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample{{ aeronave.id }}" aria-expanded="false" aria-controls="collapseExample{{ aeronave.id }}">Listar <span class="float-right"><i class="fas fa-angle-down"></i></span></button>
							<div class="collapse" id="collapseExample{{ aeronave.id }}" style="widht: 100%">
								<div class="card card-body">
									<a class="list-group-item list-group-item-info"><span class="font-weight-bold">Num. serie - Nombre - % Uso - Fecha Vence</span></a>
									{% for componente in aeronave.getComponenteOrdenado %}
										<a class="list-group-item {%if componente.componente.alerta == "Si" %} bg-danger text-white {% endif %}"  href="{% url 'componente_info' componente.componente.id %}">{{ componente.componente..numSerie }} - {{ componente.componente.nombre }} - {{ componente.componente.porcenUso|floatformat:2 }} % - {{ componente.componente.fechaVencimiento|date:"SHORT_DATE_FORMAT" }}</span></a>
										{%if componente.componente.alerta == "Si" %}
											<script>
												$("#listaComponente{{ aeronave.id }}").attr("class","btn btn-warning btn-sm");
											</script>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>
					</td>
					<td>
						<a class="badge badge-primary" href="{% url 'aeronave_update' aeronave.id %}" data-toggle="tooltip" data-placement="top" title="Editar aeronave"><i class="fas fa-pencil-alt"></i></a>
						<a class="badge badge-dark" href="{% url 'aeronave_pdf_detail' aeronave.id %}" target="_blank" data-toggle="tooltip" data-placement="top" title="PDF detalle de aeronave"><i class="far fa-file-pdf"></i></a>
						<a class="badge badge-danger" href="{% url 'aeronave_delete' aeronave.id %}" data-toggle="tooltip" data-placement="top" title="Borrar aeronave"><i class="fas fa-trash-alt"></i></a>
						<a class="badge badge-info" href="{% url 'aeronave_detail' aeronave.id %}" data-toggle="tooltip" data-placement="top" title="Ver detalles de la aeronave"><i class="fas fa-info-circle"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
