{% extends 'core/plantilla/base.html' %}
{% block title %} Vuelo nuevo {% endblock %}
{% block alerts %} {% endblock %}
{% block content %}

<div class="card border-success mb-3">
	<div class="card-header">
		<div class="row">
			<div class="col-sm">
				<i class="fas fa-plane"></i><span> | Aeronave nuevo</span>
			</div>
			<div class="col-sm">
				<a class="btn btn-info float-right" href="{% url 'aeronave_list' %}" data-toggle="tooltip" data-placement="top" title="Ver aeronaves"><i class="fas fa-list"></i></a>
			</div>
		</div>
	</div>
	<form action="" method="POST">{% csrf_token %}
		<div class="card-body">
			<!-- {{form.as_p}} -->
			<div class="form-row">
				<div class="col-sm">
					<strong>{{ form.placa.label }}</strong>				
					{{ form.placa }}				
				</div>
				<div class="col-sm">
					<strong>{{ form.marca.label }}</strong>				
					{{ form.marca }}				
				</div>
				<div class="col-sm">
					<strong>{{ form.modelo.label }}</strong>				
					{{ form.modelo }}				
				</div>
			</div>
			</br>
			<div class="form-row">
				<div class="col-sm">
					<strong>{{ form.descripcion.label }}</strong>			
					{{ form.descripcion }}
				</div>
				<div class="col-sm">
					<strong>{{ form.tipo.label }}</strong>				
					{{ form.tipo }}	
					</br>
					<strong>{{ form.hVuelo.label }}</strong>				
					{{ form.hVuelo }}				
				</div>
				<div class="col-sm">
					<strong>{{ form.componente.label }}</strong>
					{{ form.componente }}
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="btn-group">
				<input type="submit" class="btn btn-outline-success btn-sm" value="Guardar">
				</form>
			</div>
		</div>
	</form>
</div>

<!-- <div class="card">
	<div class="card-header bg-success text-white">
		<div class="row">
			<div class="col-sm">
				<h5 class="h5">Aeronave nueva</h5>
			</div>
			<div class="col-sm">
				<a class="btn btn-info float-right" href="{% url 'aeronave_list' %}" data-toggle="tooltip" data-placement="top" title="Ver aeronaves"><i class="fas fa-list"></i></a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="form-group">
			<form action="" method="POST">
			{% csrf_token %}
				<table>
					{{form.as_table}}
				</table>
		</div>
	</div>
	<div class="card-footer">
		<div class="btn-group">
			<input type="submit" class="btn btn-outline-success btn-sm" value="Guardar">
			</form>
		</div>
	</div>
</div> -->


{% endblock %}