{% extends "easy_pdf/base.html" %}
{% block content %}

{% load aerolinea_extras %}
{% get_aeronave_list as aeronave_list %}

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 2px;
}
</style>
{% load static %}
<img src=".../core/img/logos/logoAgillSas.png" height="92" width="100">
				{% for aeronave in aeronave_list %}	
		<h5 class="card-header">Aeronave</h5>
		<table class="table table-striped table-hover table-sm table-bordered">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Placa</th>
					<th scope="col">Marca</th>
					<th scope="col">Modelo</th>
					<th scope="col">Tipo</th>
					<th scope="col">Horas de vuelo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ aeronave.placa }}</a></td>
					<td>{{ aeronave.marca }}</td>
					<td>{{ aeronave.modelo }}</td>
					<td>{{ aeronave.tipo }}</td>
					<td>{{ aeronave.hVuelo }}</td>
				</tr>
			</tbody>
		</table>
			<h5 class="card-header">Componentes de la aeronave {{ aeronave.placa }}</h5>
			<table class="table table-striped table-hover table-sm">
				<thead class="bg-white">
					<tr>
						<th scope="col">Descripcion</th>
						<th scope="col">Marca</th>
						<th scope="col">Num. serie</th>
						<th scope="col">Orden de trabajo</th>
						<th scope="col">Fecha Instalado</th>
						<th scope="col">TT</th>
						<th scope="col">H. DURG</th>
						<th scope="col">Frecuencia</th>
						<th scope="col">Vencimiento</th>
					</tr>
				</thead>
				<tbody>
					{% for componente in aeronave.componente.all %}	
					<tr>
						<td>{{ componente.nombre }}</td>
						<td>{{ componente.marca }}</td>
						<td>{{ componente.numSerie }}</td>
						<td>OT- {{ componente.id }}</td>
						<td>{{ componente.creado|date:"SHORT_DATE_FORMAT" }}</td>
						<td>{{ componente.hvUtil }}</td>
						<td>{{ componente.horasDurg }}</td>
						<td>{{ componente.hUtilizado }}</td>
						<td>{{ componente.horasRemanentes }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

				{% endfor %}
{% endblock %}
