{% extends "easy_pdf/base.html" %}
{% block content %}

{% load aerolinea_extras %}
<!-- {% get_aeronave_list as aeronave_list %} -->

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 2px;
}
</style>
		{% load static %}
		<table>
			<thead class="thead-dark">
				<tr>
					<td rowspan="5" align="center" valign="middle"><img src="/home/omar/Documentos/Proyectos/p37d202/core/static/core/img/logos/logoPDF.png"></td>
					<th scope="col" style="text-align: right;">Matricula:</th>
					<td>{{ aeronave.placa }}</a></td>
				</tr>
				<tr>
					<th scope="col" style="text-align: right;">Marca:</th>
					<td>{{ aeronave.marca }}</td>
				</tr>
				<tr>
					<th scope="col" style="text-align: right;">Modelo:</th>
					<td>{{ aeronave.modelo }}</td>
					
				</tr>
				<tr>
					<th scope="col" style="text-align: right;">Tipo:</th>
					<td>{{ aeronave.tipo }}</td>
				</tr>
				<tr>
					<th scope="col" style="text-align: right;">Horas de vuelo:</th>
					<td>{{ aeronave.hVuelo }}:00</td>
				</tr>
			</thead>
		</table>
			<h4>Componentes de la aeronave {{ aeronave.placa }}</h4>
			<table>
				<thead>
					<tr>
						<th scope="col" rowspan="2">Descripcion</th>
						<th scope="col" rowspan="2">Marca/P-N o Modelo</th>
						<th scope="col" rowspan="2">Serie Numero</th>
						<th scope="col" rowspan="2">Orden de trabajo</th>
						<th scope="col" rowspan="2">Fecha Instalado</th>
						<th scope="col" rowspan="2">TT Componente</th>
						<th scope="col" rowspan="2">H. DURG</th>
						<th scope="col" colspan="2">Frecuencia</th>
						<th scope="col" colspan="2">Remanentes</th>
					</tr>
					<tr>
						<th scope="col">Horas</th>
						<th scope="col">Tiempo</th>
						<th scope="col">Horas</th>
						<th scope="col">Calendario</th>
					</tr>
				</thead>
				<tbody>
					{% for componente in aeronave.getComponenteOrdenado %}
					<tr>
						<td>{{ componente.componente.nombre }}</td>
						<td>{{ componente.componente.marca }}</td>
						<td>{{ componente.componente.numSerie }}</td>
						<td>OT- {{ componente.componente.ordenTrabajo }}</td>
						<td>{{ componente.componente.fechaingreso|date:"SHORT_DATE_FORMAT" }}</td>
						<td>{{ componente.componente.hUtilizado }}:00</td>
						<td>{{ componente.componente.hDurg }}:00</td>

						{% if componente.componente.tipo == "t1" %}
							<td>
							{{ componente.componente.hvUtil }}:00
							</td>
							</br>
							<td>
							{{ componente.componente.vUtil|date:"SHORT_DATE_FORMAT" }}
							</td>
						{% endif %}

						{% if componente.componente.tipo == "t2" %}
						<td>
							{{ componente.componente.hvUtil_i }}:00
							</br>
							{{ componente.componente.hvUtil_p }}:00
						</td>
						<td>
							{% if not componente.componente.vUtil_i %}
								<span>NA</span>
							{% else %}
								{{ componente.componente.vUtil_i|date:"SHORT_DATE_FORMAT" }}
							{% endif %}	
							</br>
							{% if not componente.componente.vUtil_p %}
								<span>NA</span>
							{% else %}
								{{ componente.componente.vUtil_p|date:"SHORT_DATE_FORMAT" }}
							{% endif %}
						</td>
						{% endif %}
						<td>{{ componente.componente.horasRemanentes }}</td>
						<td>{{ componente.componente.fechaVencimiento|date:"SHORT_DATE_FORMAT" }}</td>					
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<br/>
			<div align="center">
				<br/>
				<p>__________________________________</p>
				<p>  FABIO SIERRA MARIN  </p>
				<p>UAEAC-CDO-AA-021-1836  </p>
			</div>

{% endblock %}
