{% extends 'core/plantilla/base.html' %}
{% block title %} Componentes {% endblock %}
{% block alerts %} {% endblock %}
{% block content %}

<div class="card border-info mb-3">
	<div class="card-header">
		<div class="row">
			<div class="col-sm">
				<i class="fas fa-cubes"></i><span> | Componentes</span>
			</div>
			<div class="col-sm">
				<div class="float-right">
					<a class="btn btn-outline-success btn-sm float-right" href="{% url 'componente_create' %}" data-toggle="tooltip" data-placement="top" title="Crear componente"><small><i class="fas fa-plus-square"></i> Crear</small></a>
					<!-- <a class="btn btn-info float-right" href="{% url 'componente_downExcel' %}" data-toggle="tooltip" data-placement="top" title="Descargar componetes a excel"><i class="far fa-file-excel"></i></a> -->
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<table id="DataTable" class="table table-striped table-bordered table-hover compact" >
			<caption>Lista de componentes</caption>
			<thead>
				<tr>
					<th scope="col"><small>Num. serie</small></th>
					<th scope="col"><small>Id.</small></th>
					{# <th scope="col"><small>Fecha alerta</small></th> #}
					{# <th scope="col"><small>alerta</small></th> #}
					<th scope="col"><small>Nombre</small></th>
					<th scope="col"><small>Parte/Numero</small></th>
					<th scope="col"><small>TBO</small></th>
					<th scope="col"><small>Total</small></th>
					<th scope="col"><small>DURG</small></th>
					<th scope="col"><small>Remanente</small></th>
					<th scope="col"><small>% Uso</small></th>
					<th scope="col"><small>Fecha Vence</small></th>
					<th scope="col"><small>Aeronave</small></th>
					<th scope="col"><small>Opciones</small></th>
				</tr>
			</thead>
			<tbody>
				{% for componente in componente_list %}	
				<tr>
					<td>{{ componente.numSerie }}</td>
					<td>{{ componente.id }}</td>
					{# <td>{{ componente.alertaFecha }}</td> #}
					{# <td>{{ componente.alerta }}</td> #}
					<td>{{ componente.nombre }}</td>
					<td>{{ componente.marca }}</td>
					<td class="text-center">{{ componente.hvUtil }}:{% if not componente.mvUtil %}00 {% else %}{{ componente.mvUtil }}{% endif %}</td>
					<td class="text-center">{{ componente.hUtilizado }}:{% if not componente.mUtilizado %}00 {% else %}{{ componente.mUtilizado }}{% endif %}</td>
					<td class="text-center">{{ componente.hDurg }}:{% if not componente.mDurg %}00 {% else %}{{ componente.mDurg }}{% endif %}</td>
					<td class="text-center">{{ componente.horasRemanentes }}:00</td>
					<td class="text-center"><span class="badge {% if componente.porcentaUso >= 90 %} badge-danger {% endif %}">{{ componente.porcentaUso|floatformat:2 }}</span></td>
					<td class="text-center"><span class="badge {% if componente.alertaFecha == "Si" %} badge-danger {% endif %}">{{ componente.fechaVencimiento|date:"SHORT_DATE_FORMAT" }}</span>
					</td>
					<td class="text-center">
						{% for aeronave in componente.aeronave_set.all %}
							<a class="btn btn-outline-info btn-sm" href="{% url 'aeronave_detail' aeronave.id %}"><small>{{ aeronave.placa }} - {{ aeronave.modelo }}</small></a>
						{% endfor %}
					</td>
					<td class="text-center">
						<a class="badge badge-primary" href="{% url 'componente_update' componente.id %}" data-toggle="tooltip" data-placement="top" title="Editar componente"><i class="fas fa-pencil-alt"></i></a>
						<a class="badge badge-dark" href="{% url 'componente_pdf_detail' componente.id %}" target="_blank" data-toggle="tooltip" data-placement="top" title="PDF detalle de componente"><i class="far fa-file-pdf"></i></a>
						<a class="badge badge-danger" href="{% url 'componente_delete' componente.id %}" data-toggle="tooltip" data-placement="top" title="Eliminar componente
						"><i class="fas fa-trash-alt"></i></a>
						<a class="badge badge-info" href="{% url 'componente_detail' componente.id %}" data-toggle="tooltip" data-placement="top" title="Ver detalles del componete"><i class="fas fa-info-circle"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}