{% extends 'core/plantilla/base.html' %}
{% block title %} Crear componente {% endblock %}
{% block alerts %} {% endblock %}

{% block content %}

<div class="card border-success mb-3">
	<div class="card-header">
		<div class="row">
			<div class="col-sm">
				<i class="fas fa-cubes"></i><span> | Crear componente</span>
			</div>
			<div class="col-sm">
				<a class="btn btn-outline-info btn-sm float-right" href="{% url 'componente_list' %}" data-toggle="tooltip" data-placement="top" title="Ver componentes"><small><i class="fas fa-list"></i> Ver</small></a>
			</div>
		</div>
	</div>
	<form action="" method="POST">{% csrf_token %}
		<div class="card-body">
			{{ form.errors }}
			<div class="form-row">
				<div class="col-sm">
					<strong>{{form.numSerie.label}}</strong>
					{{form.numSerie}}
				</div>
				<div class="col-sm">
					<strong>{{form.nombre.label}}</strong>
					{{form.nombre}}
				</div>
				<div class="col-sm">
					<strong>{{form.marca.label}}</strong>
					{{form.marca}}
				</div>
			</div>
			</br>
			<div class="form-row">
				<div class="col-sm">
					<strong>{{form.fabricante.label}}</strong>
					{{form.fabricante}}
				</div>
				<div class="col-sm">
					<strong>{{form.proveedor.label}}</strong>
					{{form.proveedor}}
				</div>
				<div class="col-sm d-none d-print-block" >
					<strong>{{ form.fechaVencimiento.label }}</strong>
					{{ form.fechaVencimiento }}
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm">
					<hr>
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm">
					<strong>{{form.tipo.label}}</strong>
					{{form.tipo}}					
				</div>
				<div class="col-sm">
					<strong>{{ form.fechaingreso.label }}</strong>
					{{ form.fechaingreso }}
				</div>
				<div class="col-sm ">
					<strong>{{ form.mesesVencimiento.label }}</strong>
					{{ form.mesesVencimiento }}					
				</div>
			</div>			
			</br>
			<div class="form-row">
				<div class="col-sm">
					<strong>{{ form.vUtilOpc.label }}</strong>
					{{ form.vUtilOpc }}
				</div>
				<div class="col-sm">
					<strong>{{ form.hvUtil.label }}</strong>
					{{ form.hvUtil }}
				</div>
				<div class="col-sm">
					<strong>{{ form.mvUtil.label }}</strong>
					{{ form.mvUtil }}
				</div>
				<div class="col-sm">
					<strong>{{ form.vUtil.label }}</strong>
					{{ form.vUtil }}
				</div>
			</div>
			</br>
			<div class="form-row">
				<div class="col-sm">
					<strong>{{ form.vUtilOpc_i.label }}</strong>
					{{ form.vUtilOpc_i }}
				</div>
				<div class="col-sm">
					<strong>{{ form.hvUtil_i.label }}</strong>
					{{ form.hvUtil_i }}
				</div>
				<div class="col-sm">
					<strong>{{ form.mvUtil_i.label }}</strong>
					{{ form.mvUtil_i }}
				</div>
				<div class="col-sm">
					<strong>{{ form.vUtil_i.label }}</strong>
					{{ form.vUtil_i }}
				</div>
			</div>			
			</br>
			<div class="form-row">
				<div class="col-sm">
					<strong>{{ form.vUtilOpc_p.label }}</strong>
					{{ form.vUtilOpc_p }}
				</div>
				<div class="col-sm">
					<strong>{{ form.hvUtil_p.label }}</strong>
					{{ form.hvUtil_p }}
				</div>
				<div class="col-sm">
					<strong>{{ form.mvUtil_p.label }}</strong>
					{{ form.mvUtil_p }}
				</div>
				<div class="col-sm">
					<strong>{{ form.vUtil_p.label }}</strong>
					{{ form.vUtil_p }}
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm">
					<hr>
				</div>
			</div>
			</br>			
			<div class="form-row">
				<div class="col-sm">
					<strong>{{form.ordenTrabajo.label}}</strong>
					{{form.ordenTrabajo}}
				</div>
				<div class="col-sm">
					<strong>{{form.hUtilizado.label}}</strong>
					{{ form.hUtilizado }}
				</div>
				<div class="col-sm">
					<strong>{{ form.hDurg.label }}</strong>
					{{ form.hDurg }}
				</div>				
			</div>
									</br>
			<div class="form-row">
				<div class="col-sm">
					<strong>{{form.descripcion.label}}</strong>
					{{form.descripcion}}
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="btn-group">
				<input type="submit" class="btn btn-sm btn-outline-success" value="Guardar">
			</div>
		</div>
	</form>
</div>
<script>	
	$( function() {
		$("#id_vUtilOpc_i").prop("disabled", true);
		$("#id_hvUtil_i").prop("disabled", true);
		$("#id_mvUtil_i").prop("disabled", true);
		$("#id_vUtil_i").prop("disabled", true);
		$("#id_vUtilOpc_p").prop("disabled", true);
		$("#id_hvUtil_p").prop("disabled", true);
		$("#id_mvUtil_p").prop("disabled", true);
		$("#id_vUtil_p").prop("disabled", true);
		$("#id_vUtilOpc").prop("disabled", false);
		$("#id_vUtil").prop("disabled", true);
		$("#id_mesesVencimiento").prop("disabled", true);
		
		$("#id_vUtilOpc").change( function() {
			if ($("#id_vUtilOpc").val() == "h") {
				$("#id_hvUtil").prop("disabled", false);
				$("#id_mvUtil").prop("disabled", false);
				$("#id_vUtil").prop("disabled", true);
				$("#id_mesesVencimiento").prop("disabled", true);
			}
			if ($("#id_vUtilOpc").val() == "t") {
				$("#id_hvUtil").prop("disabled", true);
				$("#id_mvUtil").prop("disabled", true);
				$("#id_vUtil").prop("disabled", false);
				$("#id_mesesVencimiento").prop("disabled", false);
			}
			if ($("#id_vUtilOpc").val() == "a") {
				$("#id_hvUtil").prop("disabled", false);
				$("#id_mvUtil").prop("disabled", false);
				$("#id_vUtil").prop("disabled", false);
				$("#id_mesesVencimiento").prop("disabled", false);
			}		
		});
		$("#id_tipo").change( function() {
			if ($("#id_tipo").val() == "t1") {
				$("#id_vUtilOpc_i").prop("disabled", true);
				$("#id_hvUtil_i").prop("disabled", true);
				$("#id_mvUtil_i").prop("disabled", true);
				$("#id_vUtil_i").prop("disabled", true);
				$("#id_vUtilOpc_p").prop("disabled", true);
				$("#id_hvUtil_p").prop("disabled", true);
				$("#id_mvUtil_p").prop("disabled", true);
				$("#id_vUtil_p").prop("disabled", true);
				$("#id_vUtilOpc").prop("disabled", false);
				$("#id_mesesVencimiento").prop("disabled", true);
				
				if ($("#id_vUtilOpc").val() == "h") {
					$("#id_hvUtil").prop("disabled", false);
					$("#id_mvUtil").prop("disabled", false);
					$("#id_vUtil").prop("disabled", true);
					$("#id_mesesVencimiento").prop("disabled", true);
				}
				if ($("#id_vUtilOpc").val() == "t") {
					$("#id_hvUtil").prop("disabled", true);
					$("#id_mvUtil").prop("disabled", true);
					$("#id_vUtil").prop("disabled", false);
					$("#id_mesesVencimiento").prop("disabled", false);
				}
				if ($("#id_vUtilOpc").val() == "a") {
					$("#id_hvUtil").prop("disabled", false);
					$("#id_mvUtil").prop("disabled", false);
					$("#id_vUtil").prop("disabled", false);
					$("#id_mesesVencimiento").prop("disabled", false);
				}

				$("#id_vUtilOpc").change( function() {
					if ($("#id_vUtilOpc").val() == "h") {
						$("#id_vUtil").prop("disabled", true);
						$("#id_hvUtil").prop("disabled", false);
						$("#id_mvUtil").prop("disabled", false);
						$("#id_mesesVencimiento").prop("disabled", true);
					}
					if ($("#id_vUtilOpc").val() == "t") {
						$("#id_hvUtil").prop("disabled", true);
						$("#id_mvUtil").prop("disabled", true);
						$("#id_vUtil").prop("disabled", false);
						$("#id_mesesVencimiento").prop("disabled", false);
					}
					if ($("#id_vUtilOpc").val() == "a") {
						$("#id_hvUtil").prop("disabled", false);
						$("#id_mvUtil").prop("disabled", false);
						$("#id_vUtil").prop("disabled", false);
						$("#id_mesesVencimiento").prop("disabled", false);
					}
				});
			}			
			if ($("#id_tipo").val() == "t2") {
				$("#id_vUtilOpc").prop("disabled", true);
				$("#id_hvUtil").prop("disabled", true);
				$("#id_mvUtil").prop("disabled", true);
				$("#id_vUtil").prop("disabled", true);
				$("#id_vUtilOpc_i").prop("disabled", false);
				$("#id_vUtilOpc_p").prop("disabled", false);
				$("#id_mesesVencimiento").prop("disabled", true);

				if ($("#id_vUtilOpc_i").val() == "h") {
					$("#id_hvUtil_i").prop("disabled", false);
					$("#id_mvUtil_i").prop("disabled", false);
					$("#id_vUtil_i").prop("disabled", true);
					$("#id_mesesVencimiento").prop("disabled", true);
				}
				if ($("#id_vUtilOpc_i").val() == "t") {
					$("#id_hvUtil_i").prop("disabled", true);
					$("#id_mvUtil_i").prop("disabled", true);
					$("#id_vUtil_i").prop("disabled", false);
					$("#id_mesesVencimiento").prop("disabled", false);
				}
				if ($("#id_vUtilOpc_i").val() == "a") {
					$("#id_hvUtil_i").prop("disabled", false);
					$("#id_mvUtil_i").prop("disabled", false);
					$("#id_vUtil_i").prop("disabled", false);
					$("#id_mesesVencimiento").prop("disabled", false);
				}
				if ($("#id_vUtilOpc_p").val() == "h") {
					$("#id_hvUtil_p").prop("disabled", false);
					$("#id_mvUtil_p").prop("disabled", false);
					$("#id_vUtil_p").prop("disabled", true);
					$("#id_mesesVencimiento").prop("disabled", true);
				}
				if ($("#id_vUtilOpc_p").val() == "t") {
					$("#id_hvUtil_p").prop("disabled", true);
					$("#id_mvUtil_p").prop("disabled", true);
					$("#id_vUtil_p").prop("disabled", false);
					$("#id_mesesVencimiento").prop("disabled", false);
				}
				if ($("#id_vUtilOpc_p").val() == "a") {
					$("#id_hvUtil_p").prop("disabled", false);
					$("#id_mvUtil_p").prop("disabled", false);
					$("#id_vUtil_p").prop("disabled", false);
					$("#id_mesesVencimiento").prop("disabled", false);
				}
				$("#id_vUtilOpc_i").change( function() {
					if ($("#id_vUtilOpc_i").val() == "h") {
						$("#id_hvUtil_i").prop("disabled", false);
						$("#id_mvUtil_i").prop("disabled", false);
						$("#id_vUtil_i").prop("disabled", true);
						$("#id_mesesVencimiento").prop("disabled", true);
					}
					if ($("#id_vUtilOpc_i").val() == "t") {
						$("#id_hvUtil_i").prop("disabled", true);
						$("#id_mvUtil_i").prop("disabled", true);
						$("#id_vUtil_i").prop("disabled", false);
						$("#id_mesesVencimiento").prop("disabled", false);
					}
					if ($("#id_vUtilOpc_i").val() == "a") {
						$("#id_hvUtil_i").prop("disabled", false);
						$("#id_mvUtil_i").prop("disabled", false);
						$("#id_vUtil_i").prop("disabled", false);
						$("#id_mesesVencimiento").prop("disabled", false);
					}
				});	
				$("#id_vUtilOpc_p").change( function() {
					if ($("#id_vUtilOpc_p").val() == "h") {
						$("#id_hvUtil_p").prop("disabled", false);
						$("#id_mvUtil_p").prop("disabled", false);
						$("#id_vUtil_p").prop("disabled", true);
						$("#id_mesesVencimiento").prop("disabled", true);
					}
					if ($("#id_vUtilOpc_p").val() == "t") {
						$("#id_hvUtil_p").prop("disabled", true);
						$("#id_mvUtil_p").prop("disabled", true);
						$("#id_vUtil_p").prop("disabled", false);
						$("#id_mesesVencimiento").prop("disabled", false);
					}
					if ($("#id_vUtilOpc_p").val() == "a") {
						$("#id_hvUtil_p").prop("disabled", false);
						$("#id_mvUtil_p").prop("disabled", false);
						$("#id_vUtil_p").prop("disabled", false);
						$("#id_mesesVencimiento").prop("disabled", false);
					}
				});		
			}
		});

		$("#id_fechaingreso").change( function() {
			var fechaInstalado = $("#id_fechaingreso").datepicker("getDate");
			var meses = $("#id_mesesVencimiento").val();
			var mes = parseInt(meses);
			fechaInstalado.setMonth(fechaInstalado.getMonth() + mes);
			$("#id_fechaVencimiento").datepicker("setDate", fechaInstalado);
			$("#id_vUtil").datepicker("setDate", fechaInstalado);
			$("#id_vUtil_i").datepicker("setDate", fechaInstalado);
		});

		$("#id_mesesVencimiento").change( function() {
			var fechaInstalado = $("#id_fechaingreso").datepicker("getDate");
			var meses = $("#id_mesesVencimiento").val();
			var mes = parseInt(meses);
			fechaInstalado.setMonth(fechaInstalado.getMonth() + mes);
			$("#id_fechaVencimiento").datepicker("setDate", fechaInstalado);
			$("#id_vUtil").datepicker("setDate", fechaInstalado);
			$("#id_vUtil_i").datepicker("setDate", fechaInstalado);
		});		
	});
</script>
{% endblock %}
