{% extends "easy_pdf/base.html" %}
{% block content %}

{% load aerolinea_extras %}
{% get_componente_list as componente_list %}

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 2px;
}
.colorCelda{
	background-color: #fcd1c6;
	text-align: right;
}
</style>
		{% load static %}
<div>
	<div>
		<img src="/home/omar/Documentos/Proyectos/p37d202/core/static/core/img/logos/logoPDF.png">
	</div>
	<div>
		<table>
			<tbody>
				<tr>
					<th align="right" class="colorCelda">Numero de serie:</th>
					<td>{{ componente.numSerie }}</td>
				</tr>
				<tr>
					<th align="right" class="colorCelda">Nombre:</th>
					<td>{{ componente.nombre }}</td>
				</tr>
				<tr>
					<th align="right" class="colorCelda">Parte/Numero:</th>
					<td>{{ componente.marca }}</td>
				</tr>
				<tr>
					<th align="right" class="colorCelda">Fabricante:</th>
					<td>{{ componente.fabricante }}</td>
				</tr>
<!--  				<tr>
					<th align="right" class="colorCelda">Fecha de fabricacion:</th>
					<td>{{ componente.fechaFabricacion }}</td>
				</tr>  -->
				<tr>
					<th align="right" class="colorCelda">Fecha de vencimiento:</th>
					<td>{{ componente.fechaVencimiento }}</td>
				</tr>
				<tr>
					<th align="right" class="colorCelda">Fecha de instalacion:</th>
					<td>{{ componente.fechaingreso }}</td>
				</tr>
				<tr>
					<th align="right" class="colorCelda">Orden de trabajo:</th>
					<td>OT - {{ componente.ordenTrabajo }}</td>
				</tr>
				<tr>
					<th align="right" class="colorCelda">Proveedor:</th>
					<td>{{ componente.proveedor }}</td>
				</tr>
				<tr>
					<th align="right" class="colorCelda">Fecha de ingreso:</th>
					<td>{{ componente.fechaingreso }}</td>
				</tr>
				<tr>
					<th align="right" class="colorCelda">Descripcion:</th>
					<td>{{ componente.descripcion|safe }}</td>
				</tr>		
				<tr>
					<th align="right" class="colorCelda">Horas TBO:</th>
					<td>{{ componente.hvUtil }}:{% if not componente.hvUtil %}00{% else %}{{ componente.hvUtil }}{% endif %}</td>
				</tr>

				<tr>
					<th align="right" class="colorCelda">TBO calendario:</th>
					<td>
					{% if not componente.vUtil  %}	
						<span> NA </span>
					{% else %}
						{{ componente.vUtil }}
					{% endif %}
					</td>
				</tr>				

				<tr>
					<th align="right" class="colorCelda">Horas inspec inicial TBO:</th>
					<td>{{ componente.hvUtil_i }}:{% if not componente.mvUtil_i %}00{% else %}{{ componente.mvUtil_i }}{% endif %}</td>
				</tr>
				<tr>
					<th align="right" class="colorCelda">TBO Calendario inspec inicial:</th>
					<td>
					{% if not componente.vUtil_i  %}	
						<span> NA </span>
					{% else %}
						{{ componente.vUtil_i }}
					{% endif %}
					</td>
				</tr>

				<tr>
					<th align="right" class="colorCelda">Horas inspec posterior TBO:</th>
					<td>{{ componente.hvUtil_p }}:{% if not componente.mvUtil_p %}00{% else %}{{ componente.mvUtil_p }}{% endif %}</td>
				</tr>
				<tr>
					<th align="right" class="colorCelda">TBO Calendario inspec posterior:</th>
					<td>
					{% if not componente.vUtil_p  %}	
						<span> NA </span>
					{% else %}
						{{ componente.vUtil_p }}
					{% endif %}
					</td>
				</tr>

				<tr>
					<th align="right" class="colorCelda">Horas total:</th>
					<td>{{ componente.hUtilizado }}:{% if not componente.mUtilizado %}00{% else %}{{ componente.mUtilizado }}{% endif %}</td>
				</tr>
				<tr>
					<th align="right" class="colorCelda">Horas DURG:</th>
					<td>{{ componente.hDurg }}:{% if not componente.mDurg %}00{% else %}{{ componente.mDurg }}{% endif %}</td>
				</tr>
				<tr>
					<th align="right" class="colorCelda">Horas remanente:</th>
					<td>{{ componente.hRemanente }}:00</td>
				</tr>
<!--  				<tr>
					<th align="right" class="colorCelda">Estado:</th>
					<td>{{ componente.estado }}</td>
				</tr>  -->
				<tr>
					<th align="right" class="colorCelda">Fecha creacion sistema:</th>
					<td>{{ componente.creado }}</td>
				</tr>
				<tr>
					<th align="right" class="colorCelda">Fecha actualizacion sistema:</th>
					<td>{{ componente.actualizado }}</td>
				</tr>				
			</tbody>
		</table>
	</div>
</div>


{% endblock %}
