{% extends 'core/plantilla/base.html' %}
{% block title %} Eliminar vuelo {{ vuelo.id }} {% endblock %}
{% block content %}

<div class="row">
	<div class="container-fluid text-center">
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<form method="post">{% csrf_token %}
	    		<span class="font-italic">Seguro desea eliminar el vuelo:  </span> <strong>{{ vuelo.id }} - {{ vuelo.aeronave }}</strong> ?
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</br>
				<input class="btn btn-outline-danger btn-sm mt-2" type="submit" value="Eliminar"/>
			</form>
		</div>
	</div>
</div>

<div class="card border-danger mb-3">
	<div class="card-header">
		<div class="row">
			<div class="col-sm">
				<i class="fas fa-plane-departure"></i><span> | Eliminar el vuelo: <strong>{{ vuelo.id }} - {{ vuelo.aeronave }}</strong></span>
			</div>
			<div class="col-sm text-right">
				<a class="btn btn-outline-info btn-sm" href="{% url 'vuelo_list' %}" data-toggle="tooltip" data-placement="top" title="Ver vuelos"><small><i class="fas fa-list"></i> Ver</small></a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<table class="table table-striped table-hover table-sm">
		<caption>Detalles del vuelo</caption>
			<tbody>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Fecha:</th>
					<td>{{ vuelo.fecha }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Origen:</th>
					<td>{{ vuelo.origen }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Destino:</th>
					<td>{{ vuelo.destino }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Aeronave:</th>
					<td>{{ vuelo.aeronave }}</td>
				</tr>				
				<tr>
					<th scope="row" class="bg-info text-white text-right">Horas de vuelo:</th>
					<td>{{ vuelo.horas }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Observaciones:</th>
					<td>{{ vuelo.observaciones }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Fecha creacion sistema:</th>
					<td>{{ vuelo.creado }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Fecha actualizacion sistema:</th>
					<td>{{ vuelo.actualizado }}</td>
				</tr>				

			</tbody>
		</table>
	</div>
</div>

{% endblock %}