{% extends 'core/plantilla/base.html' %}
{% block title %} Vuelos {% endblock %}
{% block content %}
<div class="card border-info mb-3">
	<div class="card-header">
		<div class="row">
			<div class="col-sm">
				<i class="fas fa-plane-departure"></i><span> | Vuelos</span>
			</div>
			<div class="col-sm">
				<a class="btn btn-outline-success btn-sm float-right" href="{% url 'vuelo_create' %}" data-toggle="tooltip" data-placement="top" title="Crear vuelo"><small><i class="fas fa-plus-square"></i> Crear</small></a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<table id="DataTable" class="compact table table-striped table-bordered table-hover">
			<caption>Lista de vuelos</caption>
			<thead class="bg-white">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Fecha</th>
					<th scope="col">Aronave</th>
					<th scope="col">Origen</th>
					<th scope="col">Destino</th>
					<th scope="col">Horas</th>
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			<tbody>
				{% for vuelo in vuelo_list|dictsort:"id" reversed %}	
				<tr>
					<td>{{ vuelo.id }}</td>
					<td>{{ vuelo.fecha }}</td>
					<td>{{ vuelo.aeronave }}</td>
					<td>{{ vuelo.origen }}</td>
					<td>{{ vuelo.destino }}</td>
					<td>{{ vuelo.horas }}</td>
					<td>
						<a class="badge badge-primary" href="{% url 'vuelo_update' vuelo.id %}" data-toggle="tooltip" data-placement="top" title="Editar vuelo"><i class="fas fa-pencil-alt"></i></a>
						<a class="badge badge-danger" href="{% url 'vuelo_delete' vuelo.id %}" data-toggle="tooltip" data-placement="top" title="Eliminar vuelo"><i class="fas fa-trash-alt"></i></a>
						<a class="badge badge-info" href="{% url 'vuelo_detail' vuelo.id %}" data-toggle="tooltip" data-placement="top" title="Ver detalles del vuelo"><i class="fas fa-info-circle"></i></a>
						
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
