{% extends 'core/plantilla/base.html' %}
{% block title %} Vuelo {{ vuelo.id }} {% endblock %}
{% block content %}

{% if 'ok' in request.GET %}
<div class="row">
	<div class="container-fluid">
		<div class="alert alert-success alert-dismissible text-center fade show" role="alert">
			<span class="font-italic">Vuelo </span><span class="font-weight-bold"> {{ vuelo.id }} </span><span class="font-italic">editado correctamente !!</span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
</div>
{% endif %}

<div class="card border-success mb-3">
	<div class="card-header">
		<div class="row">
			<div class="col-sm">
				<i class="fas fa-plane-departure"></i><span> | Detalles del vuelo: <strong>{{ vuelo.id }} - {{ vuelo.aeronave }}</strong></span>
			</div>
			<div class="col-sm text-right">
				<a class="btn btn-outline-info btn-sm" href="{% url 'vuelo_list' %}" data-toggle="tooltip" data-placement="top" title="Ver vuelos"><small><i class="fas fa-list"></i> Ver</small></a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<table class="table table-striped table-hover table-sm">
		<caption>Detalles del vuelo</caption>
			<tbody>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Fecha:</th>
					<td>{{ vuelo.fecha }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Origen:</th>
					<td>{{ vuelo.origen }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Destino:</th>
					<td>{{ vuelo.destino }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Aeronave:</th>
					<td>{{ vuelo.aeronave }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Horas de vuelo:</th>
					<td>{{ vuelo.horas }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Observaciones:</th>
					<td>{{ vuelo.observaciones }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Fecha creacion sistema:</th>
					<td>{{ vuelo.creado }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Fecha actualizacion sistema:</th>
					<td>{{ vuelo.actualizado }}</td>
				</tr>				

			</tbody>
		</table>
	</div>
	<div class="card-footer">
		<a class="btn btn-outline-primary btn-sm" href="{% url 'vuelo_update' vuelo.id %}" data-toggle="tooltip" data-placement="top" title="Editar vuelo">Editar</a>
		<a class="btn btn-outline-danger btn-sm" href="{% url 'vuelo_delete' vuelo.id %}" data-toggle="tooltip" data-placement="top" title="Eliminar vuelo">Borrar</a>
	</div>
</div>

{% endblock %}