{% extends 'core/plantilla/base.html' %}
{% block title %} Orden de trabajo Editar {% endblock %}
{% block alerts %} {% endblock %}
{% block content %}
<div class="card border-success mb-3">
	<div class="card-header">
		<div class="row">
			<div class="col-sm">
				<i class="fas fa-toolbox"></i><span> | Crear orden de trabajo</span>
			</div>
			<div class="col-sm">
				<a class="btn btn-outline-info btn-sm float-right" href="{% url 'orden_list' %}" data-toggle="tooltip" data-placement="top" title="Ver ordenes de trabajo"><small><i class="fas fa-list"></i> Ver</small></a>
			</div>
		</div>
	</div>
	<form action="" method="POST">{% csrf_token %}
		<div class="card-body">
			<div class="form-row">
				<div class="col-sm">
					<strong>{{form.ciudad.label}}</strong>
					{{form.ciudad}}
				</div>
				<div class="col-sm">
					<strong>{{form.fecha.label}}</strong>
					{{form.fecha}}
				</div>
				<div class="col-sm">
					<strong>{{form.tecnico.label}}</strong>
					{{form.tecnico}}
				</div>
			</div>
			</br>
			<div class="form-row">
				<div class="col-sm">
					<strong>{{ form.dirCC.label }}</strong>
					{{ form.dirCC }}
				</div>
				<div class="col-sm">
					<strong>{{form.aeronave.label}}</strong>
					{{form.aeronave}}
				</div>
				<div class="col-sm">
					<strong>{{ form.componente.label }}</strong>
					{{ form.componente }}
				</div>
			</div>
			</br>
			<div class="form-row">
				<div class="col-sm">
					<strong>{{form.descripcion.label}}</strong>
					{{form.descripcion}}
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="btn-group">
				<input type="submit" class="btn btn-sm btn-outline-success" value="Guardar">
			</div>
		</div>
	</form>
</div>

<script>
$(document).ready(function(){
	// getComponents($("#id_aeronave").val());
	$("#id_aeronave").chosen().change(function(){
		getComponents($(this).val());
	});

})

function getComponents(id){
	$.ajax({
		"url":"{% url 'orden_crear' %}?id="+id,
		success: function(html) {
			$("#id_componente").html(html)
			$("#id_componente").trigger("chosen:updated")
		}
	});
}

</script>
{% endblock %}