{% extends 'core/plantilla/base.html' %}
{% block title %} Ordenes de trabajo {% endblock %}
{% block alerts %}{% endblock %}
{% block content %}

<div class="card border-info mb-3">
	<div class="card-header">
		<div class="row">
			<div class="col-sm">
				<i class="fas fa-toolbox"></i><span> | Ordenes de trabajo</span>
			</div>
			<div class="col-sm">
				<div class="float-right">
					<a class="btn btn-outline-danger btn-sm" href="{% url 'orden_pdf_list' %}" data-toggle="tooltip" data-placement="top" title="Ordenes de trabajo a PDF"><small><i class="far fa-file-pdf"></i> Pdf</small></a>
					<a class="btn btn-outline-success btn-sm" href="{% url 'orden_create' %}" data-toggle="tooltip" data-placement="top" title="Crear orden de trabajo"><small><i class="fas fa-plus-square"></i> Crear</small></a>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body ">
		<table id="DataTable" class="compact table table-striped table-bordered table-hover">
			<caption>Lista de ordenes de trabajo</caption>
			<thead class="bg-white">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Ciudad</th>
					<th scope="col">Fecha</th>
					<th scope="col">Tecnico</th>
					<th scope="col">Dir. control calidad</th>
					<th scope="col">Aeronave</th>
					<th scope="col">Opciones</th>
				</tr>		
			</thead>
			<tbody>
				{% for orden in orden_list %}
				<tr>
					<td>{{ orden.id }}</td>
					<td>{{ orden.ciudad }}</td>
					<td>{{ orden.fecha|date:"SHORT_DATE_FORMAT" }}</td>
					<td >{{ orden.tecnico }}</td>
					<td >{{ orden.dirCC }}</td>
					<td >{{ orden.aeronave }}</td>
					<td>
						<a class="badge badge-primary" href="{% url 'orden_update' orden.id %}" data-toggle="tooltip" data-placement="top" title="Editar orden de trabajo"><i class="fas fa-pencil-alt"></i></a>
						<a class="badge badge-danger" href="{% url 'orden_delete' orden.id %}" data-toggle="tooltip" data-placement="top" title="Eliminar orden de trabajo"><i class="fas fa-trash-alt"></i></a>
						<a class="badge badge-info" href="{% url 'orden_detail' orden.id %}" data-toggle="tooltip" data-placement="top" title="Ver detalles de la orden de trabajo"><i class="fas fa-info-circle"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}