{% extends 'core/plantilla/base.html' %}
{% block title %} Orden {{ orden.id }} {% endblock %}
{% block content %}

<div class="row">
	<div class="container-fluid text-center">
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<form method="post">{% csrf_token %}
	    		<span class="font-italic">Seguro desea eliminar el vuelo:  </span> <strong>{{ orden.id }} {{ orden.aeronave }}</strong> ?
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</br>
				<input class="btn btn-outline-danger btn-sm mt-2" type="submit" value="Eliminar"/>
			</form>
		</div>
	</div>
</div>

<div class="card border-danger mb-3">
	<div class="card-header">
		<div class="row">
			<div class="col-sm">
				<i class="fas fa-toolbox"></i><span> | Eliminar orden de trabajo: <strong>{{ orden.id }} {{ orden.aeronave }}</strong></span>
			</div>
			<div class="col-sm text-right">
				<a class="btn btn-outline-info btn-sm" href="{% url 'orden_list' %}" data-toggle="tooltip" data-placement="top" title="Ver ordenes de trabajo"><small><i class="fas fa-list"></i> Ver</small></a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<table class="table table-striped table-hover table-sm">
		<caption>Detalles de la orden de trabajo</caption>
			<tbody>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Id:</th>
					<td>{{ orden.id }}</td>
				</tr>				
				<tr>
					<th scope="row" class="bg-info text-white text-right">Ciudad:</th>
					<td>{{ orden.ciudad }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Fecha:</th>
					<td>{{ orden.fecha }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Descripcion:</th>
					<td>{{ orden.descripcion }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Tecnico:</th>
					<td>{{ orden.tecnico }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Descripcion:</th>
					<td>{{ aeronave.descripcion }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Dir. control calidad:</th>
					<td>{{ orden.dirCC }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Aeronave:</th>
					<td>{{ orden.aeronave }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Componentes:</th>
					<td>
					{% for componente in orden.componente.all %}
						{{ componente.numSerie }} - {{ componente.nombre }}{% if not forloop.last %}, {% endif %}
					{% endfor %}
					</td>
				</tr>
					<th scope="row" class="bg-info text-white text-right">Fecha creacion sistema:</th>
					<td>{{ orden.creado }}</td>
				</tr>
				<tr>
					<th scope="row" class="bg-info text-white text-right">Fecha actualizacion sistema:</th>
					<td>{{ orden.actualizado }}</td>
				</tr>				
			</tbody>
		</table>
	</div>
</div>

{% endblock %}