{% extends "easy_pdf/base.html" %}
{% block content %}

{% load aerolinea_extras %}
{% get_componente_list as componente_list %}


<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 2px;
}
.colorCelda{
	background-color: #fcd1c6;
	text-align: right;
}
</style>
		{% load static %}
<div>
	<div align="center">
		<img src="/home/omar/Documentos/Proyectos/p37d202/core/static/core/img/logos/logoPDF.png">
	</div>
	<div>
		<p>
			<h4 align="center">Orden de trabajo No.: {{ orden.id }}</h4>
			<h4 align="center">{{ orden.aeronave.marca }} {{ orden.aeronave.modelo }}</h4>
		</p>
		<table>
			<tr>
				<td><strong>Ciudad:</strong> {{ orden.ciudad }}</td>
				<td><strong>Fecha:</strong> {{ orden.fecha }}</td>
			</tr>
			<tr>
				<td><strong>Aeronave:</strong> {{ orden.aeronave }}</td>
				<td><strong>Marca:</strong> {{ orden.aeronave.marca }}</td>
				<td><strong>Modelo:</strong> {{ orden.aeronave.modelo }}</td>
			</tr>
			<tr>
				<td><strong>Serie No.:</strong> {{ orden.aeronave.placa }}</td>
				<td><strong>Horas T. Vida:</strong> {{ orden.aeronave.hVuelo }}:{{ orden.aeronave.mVuelo }}</td>
				<td><strong>Horas DURG:</strong>??????</td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Descripcion del trabajo a realizar</strong></td>
			</tr>
			<tr>
				<td colspan="3">{{ orden.descripcion }}</td>
			</tr>
		</table>
	</div>
</div>


{% endblock %}
